* {
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
}

body {
    margin: 0 auto;
    background-image: url("wood-3346811_1920.jpg");
    background-position: cover;
}

#app {
    width: 1000px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;

}

.input_area {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 10px;
    margin: 0 5px;
}

button {
    border: none;
    padding: 17px;
    background-color: white;
    color: black;
    transition: .35s ease-in-out;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';
}
button:hover {
    background-color: black;
    color: white;
}
li {
    list-style-type: none;
    display: inline;

}
.btns {
    width: 100px;
}

h2 {
    text-align: center;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.done {
    text-decoration:line-through;
}
.buttons-div {
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin: 0px;
    padding: 10px;
}
.download-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    background-color:rgba(255, 255, 255, 0.8);
    padding: 0px 10px;
    font-family: 'Raleway', 'sans-serif';
}

a {
    text-decoration: none;
    color: black;
}

